<div class="table-base p-6 flex flex-col items-center gap-5">

  <div class="w-24 h-24 rounded-full bg-brand-gold flex items-center justify-center text-brand-black text-3xl font-bold shadow-lg select-none">
    {{ barberoIniciales }}
  </div>

  <div class="text-center">
    <p class="text-white font-semibold text-lg leading-tight">
      {{ barberoNombre }}
    </p>
    <p class="text-zinc-400 text-sm mt-1">
      {{ barberoDescripcion }}
    </p>
  </div>
  <p-divider styleClass="w-full border-zinc-700" />
</div>