<div class="p-6 space-y-6 center">
    <div class="p-6 bg-brand-black rounded-xl shadow border-brand-gold border mb-10">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3">
            <div class="flex items-center gap-3">
                <button pButton (click)="volver()" class="boton-primary" icon="pi pi-arrow-left">Volver</button>
                @if (detalleProducto) {
                <h1 class="text-xl font-bold text-brand-gold pl-10">{{ detalleProducto.nombre }}</h1>
                } @else {
                <h1 class="text-xl font-bold text-gray-400">Cargando...</h1>
                }
            </div>
            @if (detalleProducto) {
            <span
                class="text-md px-2 py-1 rounded bg-brand-gold text-brand-black font-mono tracking-wide border border-brand-gold shadow-sm">SKU:
                {{ detalleProducto.nombre }}</span>
            }
        </div>
    </div>

    @if(detalleProducto){
    <div class="flex flex-col gap-8">
        <div class="grid grid-cols-1 lg:grid-cols-[1.2fr_1fr] gap-8 items-start">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-6 text-sm md:text-base">
                <div class="flex flex-col gap-1">
                    <span class="font-semibold mb-5">Categoría</span>
                    <app-status-badge type="text" [value]="detalleProducto.nombreCategoria" />
                </div>
                <div class="flex flex-col gap-1">
                    <span class="font-semibold mb-5">Precio Venta</span>
                    <span class="font-bold text-brand-gold text-lg">${{ detalleProducto.precio | number:'1.2-2'
                        }}</span>
                </div>

                <div class="flex flex-col gap-1">
                    <span class="font-semibold mb-5">Stock</span>
                    <app-status-badge type="range" [value]="detalleProducto.stock" [warningLimit]="stockMinimo" />
                </div>
                <div class="flex flex-col gap-1">
                    <span class="font-semibold mb-5">Publicado</span>
                    <app-status-badge type="boolean" [value]="detalleProducto.publicado" trueLabel="Sí"
                        falseLabel="No" />
                </div>
                <div class="flex flex-col gap-1 sm:col-span-2">
                    <span class="font-semibold mb-5">Estado</span>
                    <app-status-badge type="boolean" [value]="detalleProducto.estado" trueLabel="Activo"
                        falseLabel="Inactivo" />
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <h2 class="font-bold">Imágenes</h2>
                @if (detalleProducto.urlsMultimedia.length === 0) {
                <div
                    class="w-full aspect-square max-w-[250px] border rounded-xl overflow-hidden shadow flex items-center justify-center">
                    <i class="pi pi-image text-4xl"></i>
                </div>
                } @else {
                <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                    @for (img of detalleProducto.urlsMultimedia; track $index) {
                    <div
                        class="aspect-square rounded-lg overflow-hidden border shadow flex items-center justify-center">
                        <p-image [src]="img | safeImageUrl" imageClass="w-full h-full object-cover"
                            class="w-full h-full object-cover cursor-pointer" [preview]="true" />
                    </div>
                    }
                </div>
                }
            </div>
        </div>

        <div class="flex flex-col gap-3">
            <h2 class="font-bold mb-5">Descripción</h2>
            @if (!detalleProducto.descripcion) {
            <p class="italic">No hay descripción para este producto.</p>
            } @else {
            <p class="leading-relaxed">{{ detalleProducto.descripcion }}</p>
            }
        </div>
    </div>
    }
</div>