@if(corte){

<div class="modal-backdrop" (click)="cerrarModal()">

  <div class="modal-panel" (click)="$event.stopPropagation()">

    <button class="btn-cerrar" (click)="cerrarModal()">
      ✕
    </button>

    <h2>
      {{ corte.nombre }}
    </h2>

    <img [src]="corte.imagen_url | safeImageUrl" [alt]="corte.nombre" (error)="img.src='/assets/cortebarba.jpg'" #img>

    <p>
      {{ corte.descripcion }}
    </p>

    <small>
      Dificultad:
      {{ corte.dificultad }}
    </small>

  </div>

</div>

}