<div class="lg:w-100 w-auto md:max-w-md md:mx-auto bg-ui-card" role="search">
    <label for="search" class="block mb-2.5 text-sm font-medium text-heading sr-only"> Buscar </label>
    <div class="relative">
        <div class="absolute inset-y-0 flex items-center ps-3 pointer-events-none"><i class="pi pi-search text-text-primary"></i></div>
        <input type="search" id="search" name="search" [(ngModel)]="valor"[placeholder]="placeholder" (keyup.enter)="onSearch()"
        class="block w-full p-3 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" />
        @if(valor){
        <button pButton type="button" class="absolute right-24 top-1/2 -translate-y-1/2" (click)="clearSearch()"><i class="pi pi-times"></i></button>
        }
        <button type="submit" class="boton-search absolute -right-2 bottom-0 cursor-pointer" (click)="onSearch()"> Buscar </button>
    </div>
</div>
